<ul>
	<% @projects.each do |project| %>

		<% if project.description == nil %>

		<li><%= project.name %></li>

		<% elsif %>



		<li><%= project.name %> - 
		
		<%= project.description %> </li>

		<% end %>

	<% end %>

</ul>